body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1e1e1e;
    color: #00aaff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #00aaff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #00aaff;
    color: #121212;
}

section {
    padding: 60px 20px;
    margin: 1px auto;
    max-width: 800px;
    background-color: #1e1e1e;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
    color: #00aaff;
    margin-bottom: 20px;
}

img, video {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 5px;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
}
.footer-row{
    padding: 15px;
    display: flex;
    flex-wrap:wrap;
}
.footer-link{
    width: 25%;
    padding: 0 15px;

}

.footer-link h4 {
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #5c2c8e;
    padding: 0 0 0 10px;
    display: inline-block;
}
.footer-link ul li a {
    font-size: 18px;
    text-decoration: none;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}
.footer-link ul li a:hover {
    color: #5c2c8e;
    padding-left: 6px;
}
.social-ref a i {
    display: inline-block;
    min-height: 40px;
    width: 40px;
    padding:auto;

    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all .5s ease;
}
.footer-img{
    padding-top: 30px;
    padding-left: 50px;
    
}
.img-footer{
    width:120px;
    padding-right: 10px;
    text-align: center;
    
}